@import "../base/variables";

.sidebar-bottom {
  position: relative;

  &__btn {
    display: block;
    margin: 0 auto;
    border: none;
    color: rgb(139, 139, 139);
    background: transparent;
    transition: color 0.3s linear;

    &:hover {
      color: $color-quill;
      transition: color 0.3s linear;
    }
  }
}
