@import "../base/variables";

.categories {
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 3px;
    color: $color-white;
    cursor: pointer;
    transition: background 0.3s linear;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
      transition: background 0.3s linear;

      .categories {
        &__name {
          font-size: 14px;
          font-weight: 600;
        }

        &__btn-remove {
          opacity: 0.3;
        }

        &__btn-remove {
          transition: transform 0.1s linear;

          &:hover {
            opacity: 1;
            transform: scale(1.2);
            transition: transform 0.1s linear;
          }
        }
      }
    }

    &.active {
      color: $color-dark;
      background: rgba(255, 255, 255, 0.5);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;

      .categories__btn-remove {
        opacity: 1;
      }
    }
  }

  &__name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__quantity {
    position: absolute;
    right: 35px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__btn-remove {
    z-index: 20;
    opacity: 0;
    border: none;
    margin-left: auto;
    background: transparent;
  }
}
