{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": true,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"vueIndentScriptAndStyle": false
  }
