@import "normalize";
@import "base";
@import "variables";
@import "mixins";

.app {
  font-size: $font-size;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  left: 50%;
  top: 50%;
  max-width: 750px;
  width: 100%;
  max-height: 530px;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__sidebar {
    background-color: #f4f6f8;
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    padding: 60px 20px;
  }
}
