@import "normalize";
@import "base";
@import "variables";
@import "mixins";

.app {
  font-size: $font-size;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, auto);
  left: 50%;
  top: 50%;
  max-width: 750px;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__sidebar {
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    padding: 60px 20px;
    background-color: #f4f6f8;
    display: flex;
    flex-direction: column;
  }

  &__tasks {
    grid-column: 4 / 10;
    grid-row: 1 / 10;
    padding: 60px;
  }
}

.field {
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  z-index: 10;

  &:focus {
    border-color: #bdbdbd;
  }
}

.button {
  border: none;
  padding: 10px 0;
  border-radius: 4px;
  color: #fff;
  background: #4dd599;

  &:hover {
    background: darken(#4dd599, 5%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }
}
