/*
* BASE STYLES
*/

@import "./base/normalize";
@import "./base/variables";
@import "./base/mixins";
@import "./base/base";
@import "./base/container";
@import "./base/transition";

/*
* LAYOUT STYLES
*/

@import "./layout/appLayout";
@import "./layout/headerLayout";
@import "./layout/mainLayout";
@import "./layout/footerLayout";
@import "./layout/todoLayout";
@import "./layout/sidebarLayout";
@import "./layout/tasksLayout";

/*
* COMPONENTS STYLES
*/
@import "./components/authForm";

@import "./components/sidebarList";
@import "./components/sidebarHeader";
@import "./components/sidebarBadge";
@import "./components/sidebarFooter";
@import "./components/sidebarModal";
@import "./components/sidebarColors";

@import "./components/tasksCreator";
@import "./components/tasksHeader";
@import "./components/tasksList";
@import "./components/tasksItem";
