.list {
  &:first-child {
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.8);

      .list__remove {
        opacity: 0.3;
      }

      .list__remove {
        &:hover {
          opacity: 1;
        }
      }
    }

    &.active {
      background: #fff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__svg {
    fill: #7c7c7c;
  }

  .badge {
    padding-left: 5px;
    margin-right: 18px;
  }

  &__remove {
    z-index: 20;
    opacity: 0;
    border: none;
    margin-left: auto;
    background: transparent;
  }
}
