.App {
  font-size: $font-size;
  display: block;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, auto);
  max-width: 750px;
  width: 100%;
  // width: calc(100vw - 50px);
  height: 700px;
  // height: calc(100vh - 100px);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sidebar {
  grid-column: 1 / 4;
  grid-row: 1 / 10;
  padding: 60px 20px;
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
}

.tasks {
  grid-column: 4 / 10;
  grid-row: 1 / 10;
  padding: 60px;
  overflow-y: auto;

  &__container {
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

.field {
  font-size: 14px;
  background: #fff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  z-index: 10;

  &:focus {
    border-color: #bdbdbd;
  }
}

.button {
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
  background: #4dd599;
  transition: background 0.2s linear;

  &:hover {
    background: darken(#4dd599, 5%);
  }

  &:active {
    background: darken(#4dd599, 10%);
  }

  &:disabled {
    background: #d8d8d8;
  }

  &--grey {
    color: #444;
    background: #f4f6f8;

    &:hover {
      background: darken(#f4f6f8, 5%);
    }

    &:active {
      background: darken(#f4f6f8, 10%);
    }
  }
}
