@import "../base/variables";

.form {
  padding: 120px 40px;
  max-width: 520px;
  width: 100%;
  background: $background-gradient;
  box-shadow: $form-shadow;

  &__title {
    letter-spacing: 2px;
    text-align: right;
    margin-bottom: 50px;
    color: white;
  }

  &__group {
    margin-bottom: 40px;

    &:last-of-type {
      margin-bottom: 80px;
    }
  }

  &__footer {
    &-text {
      margin: 14px 0 0 0;
      text-align: right;
      color: #fff;
    }

    button {
      color: #ffc400;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-left: 5px;
      border: none;
      outline: none;
      background: transparent;
      transition: color 0.3s linear;

      &:hover {
        color: #d6a401;
        transition: color 0.3s linear;
      }
    }
  }
}
