.form {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.form__title {
  font-weight: normal;
  text-align: center;
  margin: 0 0 32px 0;
}

.form__input {
  font-size: 16px;
  letter-spacing: 1px;
}

.form__group {
  position: relative;
  margin-bottom: 32px;
}

.form__label {
  font-size: 22px;
  line-height: 1;
  margin: 14px 0;
  display: block;
  color: white;
}

.form__input {
  font-size: 19px;
  letter-spacing: 1px;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}

.form__input:focus {
  border-bottom: 1px solid #1a73a8;
}

.form__button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.form__button:focus,
.form__button:hover {
  background-color: rgba(0, 113, 240, 0.7);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  font-size: 12px;
  color: #e0e0e0;
}
