.sidebar {
  &__heading {
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 15px;

    &__btn {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: none;
      background: transparent;
    }

    &__icon {
      margin-right: 10px;
    }
  }
}
