.badge {
  position: relative;
  display: inline-block;
  top: -1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;

  cursor: pointer;

  &--green {
    background-color: #42b883;
  }
  &--blue {
    background-color: #0000ff;
  }
  &--orange {
    background-color: #ffa500;
  }
  &--grey {
    background-color: #c9d1d3;
  }
  &--pink {
    background-color: #ffbbcc;
  }
  &--lime {
    background-color: #b6e6bd;
  }
  &--purple {
    background-color: #c355f5;
  }
  &--black {
    background-color: #110133;
  }
  &--red {
    background-color: #ff6464;
  }
}
