@import "../base/variables";

.modal {
  position: absolute;
  left: 10px;
  bottom: -20px;
  width: 250px;
  padding: 15px 15px 20px;
  border-radius: 5px;
  background: $color-white;
  box-shadow: $todo-shadow;

  &__btn-close {
    display: block;
    background: transparent;
    margin-bottom: 15px;
    margin-left: auto;
  }

  &__btn-svg {
    fill: $color-dark;
    transition: fill 0.2s linear;
    transition: transform 0.2s linear;

    &:hover {
      fill: $color-red;
      transform: scale(1.2);
      transition: fill 0.2s linear;
      transition: transform 0.2s linear;
    }

    &__list {
      margin-bottom: 20px;
    }
  }
}

.modal-form {
  &__group {
    margin-bottom: 20px;
  }

  &__label {
    color: $color-border;
  }
}
