// fonts
$font-family-primary: "Nunito", sans-serif;
$font-size: 14px;

// background
$background-gradient: radial-gradient(
  ellipse at left bottom,
  rgba(22, 24, 47, 1) 0%,
  rgba(38, 20, 72, 0.9) 59%,
  rgba(17, 27, 75, 0.9) 100%
);

// colors
$color-orange: #da8d00;
$color-dark: #151515;
$color-white: #fff;
$color-quill: #e5e5e3;
$color-gray: #858585;
$color-tundora: #454545;

// shadow
$form-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
